pipeline/pipeline1_copy2.json
{
	"name": "pipeline1_copy2",
	"properties": {
		"activities": [
			{
				"name": "hallo",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "StartRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "testarray",
					"value": {
						"value": "@pipeline().globalParameters.hoihoi",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LkpKlanten",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "hallo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpKlanten",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpKlanten').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[stp_ins_Klant]",
								"storedProcedureParameters": {
									"Klantnaam": {
										"value": {
											"value": "@item().Naam",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CloudDWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vincentl@infosupport.com/TestParmas",
								"baseParameters": {
									"parName": {
										"value": "@item().Naam",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LkpKlanten_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "hallo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpKlanten_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpKlanten_copy1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[stp_ins_Klant]",
								"storedProcedureParameters": {
									"Klantnaam": {
										"value": {
											"value": "@item().Naam",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CloudDWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SetRunID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "hallo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentRunID": {
							"value": "@variables('RunID')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "StartRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adflog].[stp_RunLog_Ins]",
					"storedProcedureParameters": {
						"p_ADFParentRunLogID": {
							"value": null,
							"type": "Guid"
						},
						"p_ADFRunID": {
							"value": {
								"value": "@variables('RunID')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"p_RunStartDT": {
							"value": null,
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CloudDWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EndRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute Pipeline2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adflog].[stp_RunLog_Upd]",
					"storedProcedureParameters": {
						"p_RunEndDT": {
							"value": null,
							"type": "DateTime"
						},
						"p_RunLogId": {
							"value": {
								"value": "@variables('RunID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CloudDWH",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"testje": {
				"type": "String",
				"defaultValue": "a"
			},
			"testarray": {
				"type": "Array",
				"defaultValue": [
					"1"
				]
			},
			"RunID": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-08T12:39:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}