pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "SetRunID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LogRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MyRunID",
					"value": {
						"value": "@activity('LogRun').output.firstRow.RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "End Run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adflog].[stp_RunLog_Upd]",
					"storedProcedureParameters": {
						"p_RunEndDT": {
							"value": null,
							"type": "DateTime"
						},
						"p_RunLogId": {
							"value": "",
							"type": "Int32"
						},
						"p_Status": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CloudDWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogRun",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adflog].[stp_RunLog_Ins]",
						"storedProcedureParameters": {
							"p_ADFRunID": {
								"type": "Guid",
								"value": null
							},
							"p_ParentRunLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentRunID",
									"type": "Expression"
								}
							},
							"p_RunStartDT": {
								"type": "DateTime",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ParentRunID": {
				"type": "string"
			}
		},
		"variables": {
			"MyRunID": {
				"type": "String"
			},
			"ParentRunID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}